<div class="d-flex justify-content-center align-items-center">
  <h1>Stupid Coaching</h1>
  <form>
    <input type="text" id="text-box" placeholder="Ask me a question...">
    <input type="button" id="button" value="Ask me!">
  </form>
</div>
