<div class="container d-flex flex-column">
  <h1 class="mb-3">Stupid Coaching</h1>
  <form action="/answer" class="d-flex justify-content-center">
    <input type="text" name="input" id="text-box" placeholder="Ask me a question..." class="form-control">
    <input type="submit" id="button" value="Ask me!" class="btn btn-primary">
  </form>
</div>
