<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="p-3 border-start border-5">
    <%= params[:input] %>
    <p> - you </p>
  </div>
  <br>
  <div class="norbs p-3 border-start border-5 ">
    <%= @answer %>
    <p> - your coach </p>
  </div>
</div>
